/* 
 * A Unified Theme Form Controls
 *
 * Create and designed by Jimmy Ben Klieve
 * @ April 30th, 2015
 *
**/

.ben-form {
	font-family: "Trebuchet MS", "Microsoft YaHei", SimSun, sans-serif;
	font-size: 18px;
	text-align: center;
	width: auto;
}

.ben-form table {
	position: relatives;
	margin: 0 auto;
	text-align: center;
}

.ben-form table tr {
	position: relative;
}

.ben-form table tr td {
	position: relative;
	padding: 4px;
}

.ben-form label {
	margin: 0 4px;
	padding: 0;
}

.ben-text:focus {
	border: none;
	border-bottom: solid 1px #000;
	border-radius: 1px 1px;
}

.ben-text, .ben-texthint ul {
	width: 340px;
	font-size: 14px;
}

.ben-text {
	position: relative;
	border: none;
	border-bottom: solid 1px #1f6fff;
	border-radius: 2px 2px;
	background-color: transparent;
	height: 32px;
	padding: 0;
}

.ben-texthint {
	position: absolute;
	left: 3px;
	top: 38px;
	height: auto;
	z-index: 1;
	border: solid 1px #999;
	background-color: #fff;
	box-shadow: 0 4px 8px -1px #bbb;
	font-size: 16px;
	cursor: default;
	
	visibility: visible;
	display: none;
}

.ben-texthint ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border: none;
	text-align: left;
}

.ben-texthint ul li {
	margin: 0;
	padding: 4px 6px;
	background-color: transparent;
}

.ben-texthint ul li:hover {
	background-color: #eee;
}

.ben-texthint .ben-texthint-spec {
	border: none;
	border-top: solid 1px #bbb;
	background-color: #f8f8f8;
	text-align: right;
	font-size: 10px;
	text-decoration: underline;
	overflow: hidden;
}

.ben-texthint .ben-texthint-spec a {
	color: inherit;
	cursor: pointer;
}

.ben-texthint .ben-texthint-spec a:link,
.ben-texthint .ben-texthint-spec a:hover,
.ben-texthint .ben-texthint-spec a:visited {
	color: inherit;
}

.ben-texthint .ben-texthint-spec:hover {
	background-color: #f8f8f8 !important;
}

.ben-file {
	position: relative;
	width: 300px;
	height: 28px;
	font-size: 14px;
	color: #444;
}

.ben-button {
	border: none;
	border: solid 1px #000;
	background-color: #1f6fff;
	color: #fff;
	min-width: 82px;
	height: 28px;
	padding: 0 16px;
	margin: 4px;
	cursor: pointer;
}

.ben-button:hover {	border: solid 1px #000;	background-color: #4f9fff; }